@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
:root{
--dark: #131515;
--dark-grey: #191b1a;
--grey: #2B2C28;
--dark-green: #307165;
--accent-dark: #339989;
--accent-light: #7de2d1;
}

.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}