@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root{
/*  https://coolors.co/131515-191b1a-2b2c28-2d4841-307165-339989-7de2d1  */
--dark: #131515;
--dark-grey: #191b1a;
--grey: #2B2C28;
--dark-green: #307165;
--accent-dark: #339989;
--accent-light: #7de2d1;
--nigga: "nigga";
--nigga2: "nigga2";
}

.font-title {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.box-glow{
  -webkit-box-shadow:0px 0px 19px 4px var(--accent-light);
  -moz-box-shadow: 0px 0px 19px 4px var(--accent-light);
  box-shadow: 0px 0px 19px 4px var(--accent-light);
}

html, body {
  -ms-overflow-style: none;  /* For Internet Explorer */
  scrollbar-width: none;  /* For Firefox */
}

::-webkit-scrollbar {
  display: none;  /* For Chrome, Safari, and Edge */
}

.white-text-glow{
  text-shadow: 0px 0px 29.9px rgba(255, 255, 255, 0.4);
}